@import 'styles/_main_variables.scss';

.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.text-sm{
  font-size: 12px;
}

.text-sm{
  font-size: 14px;
}

.text-lg{
  font-size: 16px;
}

.responsive{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.raised{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}