@import 'styles/_main_variables.scss';

.FavouritesBar{
  height: 38px;
  background-color: $white;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  composes: raised from global;
}