@import 'styles/_main_variables.scss';

.InfoPanel{
  composes: raised from global;
  margin: 10px 0;
  background-color: $white;
  min-height: 300px;
  height: 800px;
  max-height: 80vh;
  overflow: scroll;
  padding: 20px;
}