.Home{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}
.SearchGroup{
  max-width: 400px;
  flex: 2 0 auto;
  margin: 0 10px;
  width: 100%;
}
.InfoPanelWrapper{
  max-width: 600px;
  flex: 3 0 auto;
  margin: 0 10px;
}

.ModalWrapper{
  width: 90VW;
  max-width: 600px;
}

.ModalWrapper > div{
  box-shadow: none;
}

@media (max-width: 859px) {
  .InfoPanelWrapper {
    display: none !important;
  }
}

@media (min-width: 860px) {
  .Modal {
    display: none !important;
  }
}