.Home{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}
.SearchGroup{
  max-width: 400px;
  flex: 2 0 auto;
  margin: 0 10px;
}
.InfoPanelWrapper{
  max-width: 600px;
  flex: 3 0 auto;
  margin: 0 10px;
}